
<h1>Pick the right article</h1>
<div class="row">
<div class="mx-auto w-50" style="text-align: center;">
    {{currentWord}}
</div>
</div>
<div class="row">
    {{#each articles as |a|}}
    <div class="col">
    <button {{action checkArticle a}} class="btn btn-primary w-100">{{a}}</button>
    </div>
    {{/each}}
</div>
    {{#each lastAnswers as |a|}}
    <div class="row">
    <div class="alert alert-{{if a.result "success" "danger"}}" role="alert">
    {{a.article}} {{a.word}} 
    </div>    
    </div>
    {{/each}}

{{outlet}}